<!-- DESCRITPION -->

<launch>
	<!-- laser merger node configuration -->
	<node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
	<param name="destination_frame" value="base_footprint"/>
	<param name="cloud_destination_topic" value="/merged_cloud"/>
	<param name="scan_destination_topic" value="/scan"/>
	<param name="laserscan_topics" value ="/front/scan /rear/scan" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
	<param name="angle_min" value="-3.14159"/>
	<param name="angle_max" value="3.14159"/>
	<param name="angle_increment" value="0.0021696"/>
	<param name="scan_time" value="0.231399998"/>
	<param name="range_min" value="0.07999999821186066"/>
	<param name="range_max" value="16.0"/>
	</node>

	<!-- dynamic transformation from odom to base_footprint-->
	<node pkg="project2" type="tf_broadcaster" respawn="false" name="tf_broadcaster" />

	<!-- static transformation for lasers reference frames-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 1 world map " />
	<node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 1 map odom " />
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 1 base_footprint base_link " />
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser_front" args="0.35 0 0 0 0 0.5150381 0.8571673 base_link laser_front  " />
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser_rear" args="-0.35 0 0 0 0 0.866 0.5 base_link laser_rear " />	

	<param name="/use_sim_time" value="true"/>
	
	<!--  ************** Navigation  ***************  -->
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find project2)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find project2)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find project2)/cfg/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find project2)/cfg/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find project2)/cfg/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find project2)/cfg/move_base_params.yaml" command="load" /> 

    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="10.0" />

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="5.0" />

    <param name="clearing_rotation_allowed" value="true"/> 
  </node>

 	<!-- Gmapping -->
  	<include file="$(find project2)/launch/gmapping.launch.xml"/>

  	<!--  **************** Visualisation ****************  -->
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find project2)/rviz/gmapping.rviz"/>
</launch>
